---
import ContactoForm from './ContactoForm';
---

<section id="contacto" class="py-40 bg-black relative overflow-hidden">
  
  <!-- Cinematic Ambient Lighting -->
  <div class="absolute top-0 left-0 w-[800px] h-[800px] bg-cyan/5 blur-[150px] rounded-full pointer-events-none -translate-x-1/2 -translate-y-1/2"></div>
  <div class="absolute bottom-0 right-0 w-[600px] h-[600px] bg-orange/5 blur-[120px] rounded-full pointer-events-none translate-x-1/2 translate-y-1/2"></div>

  <div class="max-w-[1400px] mx-auto px-6 relative z-10">
    <div class="w-full">
      <ContactoForm client:visible />
    </div>
  </div>

</section>
