---
import ContactoForm from './ContactoForm';
---

<section id="contacto" class="py-32 bg-black border-t border-border overflow-hidden">
  <div class="max-w-7xl mx-auto px-6 relative">
    
    <!-- Background Decorators -->
    <div class="absolute w-[600px] h-[600px] rounded-full blur-[120px] bg-cyan/5 -left-40 top-0 pointer-events-none z-0"></div>

    <div class="relative z-10 w-full">
      <ContactoForm client:visible />
    </div>

  </div>
</section>
